<table class="notecard" style="margin-top:0px">
	<% @list.each_with_index do |l, i| %>
		<tr>
			<td class="<%= i > 0 ? "lang_item" : "lang_item_first" %>">
				<a href="langs/<%= l.name %>"><span class="lang_item_name"><%= l.display_name %></span></a>
			</td>
			<td class="<%= i > 0 ? "lang_item" : "lang_item_first" %>">
				<%= if l.summary.length > 80
					    l.summary[0..80] + "..."
				    else
					    l.summary
				    end %>	
			    </td>
		    </tr>
	    <% end %>
    </table>
