<table class="notecard" style="margin-top:0px">
	<% @list.each_with_index do |l, i| %>
		<tr>
			<td class="<%= i > 0 ? "lang_item" : "lang_item_first" %>">
				<span class="lang_item_name"><a href="lang/<%= l.name %>"><%= l.display_name %></a></span>
			</td>
			<td class="<%= i > 0 ? "lang_item" : "lang_item_first" %>">
				<%= if l.summary.length > 150
					    l.summary[0..150] + "..."
				    else
					    l.summary
				    end %>	
     </td>
     <% if @date_field %>
			 <td class="<%= i > 0 ? "lang_item" : "lang_item_first" %>">
        <%= l.send(@date_field).to_date %>
      </td>
     <% end %>
   </tr>
 <% end %>
</table>
