<div class="lang">
 	<div class="lang_name">
		<a href="<%= @lang.url %>" target="_blank"><%= @lang.display_name %></a>
 	</div>


	<% if not @preview and @lang.blurb.length > 1500 %>
		<div class="comment_jump">
			<a href="#comment_link" onclick="javascript:togglecomments()">Comments</a> &darr;
		</div>
	<% end %>

	<% if @lang.author and not @lang.author.empty? %>
		<div class="lang_author">
			by <%= @lang.author %>
		</div>
	<% end %>


	<% if @lang.inactive %>
		<div class="inactive">
			This project appears to have gone dormant. It will be removed from the list soon unless new activity is noted.
		</div>
	<% end %>

	<div class="notecard">
		<div class="lang_summary">
			<%= @lang.summary %>
		</div>
		<div class="lang_blurb">
			<%= @lang.blurb_html %>
		</div>
    <% if @lang.example and not @lang.example.empty? %>
      <div class="lang_example">
        <pre><code><%= @lang.example %></code></pre>
      </div>
    <% end %>
		<% unless @preview %>
      <div class="lang_url">
          <a href="<%= @lang.url %>" target="_blank">Language Homepage</a>
          <% if @lang.source_url and not @lang.source_url.empty? %>
          - <a href="<%= @lang.source_url %>" target="_blank">Source Code</a>
          <% end %>
          <% if @lang.try_url and not @lang.try_url.empty? %>
          - <a href="<%= @lang.try_url %>" target="_blank">Try Online</a>
          <% end %>
      </div>

			<div class="lang_modified">
				Information updated <%= (@lang.last_modified || @lang.date_added).strftime("%D") %>
			</div>


			<% if not @lang.moderated %>
				<div class="not_moderated">
					Note: This entry has not yet been moderated.
				</div>
			<% end %>

		<% end %>
	</div>

	<% unless @preview %>
		<a id="comment_link" href="#disqus_thread" onclick="javascript:togglecomments()">View Comments</a>
		<br/>
		<div id="disqus" style="display:none" >
			<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/fll/embed.js"></script><noscript><a href="http://fll.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">Discussion powered by <span class="logo-disqus">Disqus</span></a>
		</div>
	<% end %>
</div>
