<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<h2>Submit a New Language</h2>
<p>
Please keep in mind the <a href="/criteria/">criteria</a> for listing languages on this site.
</p>
<p>
<em>Briefly:</em> The language may be a hobbyist or toy language (or not), should be "relatively" unknown, must have a website and be either under active developement or in a usable state.
</p>
<div class="notecard submit_form">
	<form action="/submit" method="post" id="langform">
		<table>
			<tr>
				<td class="label">Name</td>
				<td><input type="text" size="30" maxlength="40" name="lang_name" class="required" value="<%= @params[:lang_name] %>"/></td>
			</tr>
			<tr>
				<td class="label">Homepage</td>
				<td><input type="text" size="30" maxlength="200" name="lang_url" class="required url" value="<%= @params[:lang_url] || "http://" %>"/></td>
			</tr>
			<tr>
				<td class="label">Author(s)</td>
				<td><input type="text"  size="30" maxlength="80" name="lang_author" value="<%= @params[:lang_author] %>" /> (Optional)</td>
			</tr>
			<tr>
				<td class="label">Summary</td>
				<td><input style="width:90%" type="text" size="60"  maxlength="200" name="lang_summary" value="<%= @params[:lang_summary] %>" class="required" /></td>
			</tr>
			<tr valign="top">
				<td class="label">Description</td>
				<td><textarea style="width:90%;height:180px" maxlength="6000" name="lang_blurb" class="required"><%= @params[:lang_blurb] %></textarea></td>
			</tr>
			<tr valign="top">
				<td class="label">Example</td>
				<td><textarea style="width:90%;height:180px" maxlength="6000" name="lang_example"><%= @params[:lang_example] %></textarea></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<div style="margin-right: 10%;">
						You may use <a href="/markdown.html" target="_blank" >Markdown</a> for formatting the description. URLs will be linked automatically.
					</div>
					<div id="captcha-spacer" style="padding-bottom:10px">
						<%= captcha_answer_tag %>
						<div>
							Please enter the letters/numbers in the picture.
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" value="Submit Language" />
					<input type="checkbox" name="preview" checked="checked" />Preview
					<div style="font-size:13px;font-style:italic;margin-top:10px;background-color:white;padding:5px">
						Note: Submitted languages will be listed immediately, but will be in an "unmoderated" state until an administrator approves it.
					</div>
				</td>
			</tr>
		</table>
	</form>
</div>
